@import url('https://fonts.googleapis.com/css2?famil=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

#reset {
    --button-width: 280px;
    --button-img: 100px;
    --textbox-width: 100rem;
    --button: 20rem;
    
}

.reset_container img{
    height: 70px;
    width: 70px;   
    margin: -11rem 0 0 10rem;
}

#reset_header{
    margin: 10rem 0 0 68rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: var(--color-bg-variant);
}

.reset-form{
    margin: -22rem 0 0 57.5rem;  
}

.reset-note {
    margin-left: 63rem ;
    margin-top: 3rem;
    font-size: 1rem;
  }


.reset-form:before{
    content:" ";
    display: block;
    height: 33.5rem;
    width: 27rem;
    position: absolute;
    top: 14%;
    left: 62%;
    background: var(--header-background);
    z-index: -1;
    opacity: 1;
}

.reset-image{
    margin-left: 10rem;
    margin-top: 13rem;
}

.reset-image .reset-content{
    position: absolute;
    bottom: 4.8rem;
    background: var(--color-bg-variant);
    background: var(--color-dark, 0.5); 
    width: 50%;
    padding: 20px;
    color: var(--header-color);
    font-family: Poppins;
   
  }

  .reset-image > .reset-image-column{
    height: 100%;
    width: 50%;
    margin: -23rem 0 0 0;
  }

  .reset-content h1{
    font-size: 1.5rem;
    font-weight: 600;
  }

  .reset-content p{
    font-size: 1.2rem;
    font-weight: 400;
  }

  .reset-btn{
        background: linear-gradient(to right, rgba(159,79,107,100), rgba(182,77,94,100));
        padding: 0.5rem 1rem;
        border-radius: 5px;
        width: var(--button);
        height: 3rem;
        transition: outline 200ms;
        margin-top: -1rem;
        margin-bottom: -10rem;
        margin-left: 5.5rem;
        border-radius: 30px;
  }

  #reset-submit-btn > .reset-btn-text{
    margin-left: 7rem;
    font-weight: 700;
    color: var(--header-color); 
    text-decoration: none;  
}




