.card-img{
    height: 100%;
    width: 100%;
}

.card{
    height: 100rem;
    width: 100rem;
}

.card-text{
    color: var(--color-dark);
    margin-top: 10rem;
}

.card-title h5{
    color: var(--color-dark);
    margin-top: 10rem;
}