@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

.container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4.5rem;
    width: 11rem;
    margin-left: -1.5rem;
    margin-right: -4rem;
    border-radius: 8px;
    margin-top: 3rem;
    overflow: auto;
}

.container img{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4.5rem;
    height: 15rem;
    margin-left: 0;
    width: 11rem;
    border-radius: 8px;
    margin-right: -4rem;
    margin-top: 3rem;
    overflow: auto;
}

.hero h1{
    margin-top: 18rem;
    margin-bottom: 18rem;
    margin-left: 7.5rem;
    font-size: 60px;
    font-weight: 800;
    font-family: Poppins;
}

.hero p{
    margin-top: -18rem;
    margin-bottom: 18rem;
    margin-left: 7.5rem;
    font-size: 14px;
    font-weight: 400;
    font-family: Poppins;
    word-break: break-word;
}

.hero{
    height: 70vh;
    margin-top: -35rem;
    margin-bottom: 4rem;
    background-position: top center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.heroContent{
    max-width: 45%;
    color: var(--header-color);
}

.moviePlay {
    color: var(--header-color);
    background: linear-gradient(to right, rgba(159,79,107,100), rgba(182,77,94,100));
    font-size: 14px;
    font-weight: 600;
    font-family: Poppins;
    margin-top: -16rem;
    margin-left: 7.5rem;
    width: 9rem;
    height: 2.5rem;
    border-radius: 5px;
}

#play{
    margin-left: 7.75rem;
    margin-top: -15.6rem;
    font-size: 27px;
    display: flex;
    align-items: center;
}