@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.leftSubscribe{
    width: 100%;
    min-height: 50vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#subLogo{
    width: 6rem;
    height: 6rem;
    margin-top: 7rem;
}

#leftImg{
    z-index: -1;
    width: 145%;
    height: 100vh;
    margin-top: -15rem;
}

.col1{
    flex-basis: 50%;
    flex-grow: 1;
    background-image: linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.8));
    background-size: cover;
    background-position: center;
    min-height: inherit;
    padding: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
}

.col1 ul li{
    display: flex;
    align-items: center;
    margin-top: -29rem;
    margin-bottom: 28.5rem;
    font-size: 0.8rem;
    gap: 1px;
}

.col1 ul{
    list-style: none;
}

.col2{
    flex-basis: 50%;
    flex-grow: 1;
    padding: 50px 80px;
}

.col2 h3{
    display: flex;
    align-items: center;
    font-family: Poppins;
    font-size: 1.4rem;
    font-weight: 700;
    margin-top: -12rem;
    margin-left: 0.1rem;
}

#check{
    color: var(--color-secondary);
}

.col2 #icon{
    color: var(--color-secondary);
}

.subForm{
    width: 400px;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin-top: 1.5rem;
}

.subLabel{
    display: block;
    padding: 25px;
    margin-bottom: 30px;
    box-shadow: 0 0 20px 5px rgba(0,0,0,0.15);
    display: flex;
    align-items: center;
    font-size: 12px;
    cursor: pointer;
    color: var(--color-dark);
    border-radius: 8px;
}

.subLabel span{
    flex: 1;
    font-size: 34px;
    font-weight: 600;
    margin-left: .5rem;
    font-family: Poppins;
}

.subLabel span small{
    font-size: 18px;
    font-family: Poppins;
}

#free:checked + span {
    color: var(--color-secondary);
}

#subSpan sup{
        margin-top: 3rem;
}

#subName{
    border: 1px solid var(--color-dark);
    padding: 8px;
    border-radius: 5px;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    width: 20rem;
}

#subBtn{
    background: linear-gradient(to right, rgba(159,79,107,100), rgba(182,77,94,100));
    padding: 0.5rem 1rem;
    color: var(--header-color);
    border-radius: 3px;
    width: 10rem;
    height: 3rem;
    transition: outline 200ms;
    margin-top: 0.5rem;
    margin-left: 0rem;
    border-radius: 8px;
    cursor: pointer ;
    font-weight: 600;
}

#subText{
    font-weight: 500;
}



