.play{
    display: flex;
    color: var(--header-color);
    margin-left: 45rem;
    margin-top: 18rem;
    width: 100px;
    height: 100px;
}

.coverImage img{
    display: flex;
    margin-top: 4.2rem;
    width: 100%;
    height: 100vh;
}

.menu{
   
    margin-top: -20rem;
}






