.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: var(--header-color);
    width: 100%;
    padding: 20px;
  }

#myBtn{
    background: transparent;
    margin-left: 43rem;
    margin-top: -28rem;
    font-size: 5rem;
    color: var(--header-color);
    opacity: 0.7;
    text-align: center;
}
  
  #myBtn:hover {
    background: transparent;
    color: var(--color-dark);
  }