
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    --clr-gray100: #f9fbff;
    --clr-gray150: #f4f6fb;
}

#body{
    width: 100%;
    height: 65vh;
    background-attachment: fixed;
    
  }

.hero-header{
  display: flex;
  flex-wrap: wrap;
  content: '';
  width: 100%;
  height: 45vh;
  border: 1px solid var(--header-color);
  margin: -55rem 0 0 1rem;
}
  
  header{
    width: 82%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /*border: 1px solid var(--header-color);*/
  }
  
  .box{
    position: relative;
    width: 180px;
    height: 290px;
    border: 1px solid var(--header-color);
    margin: 10px;
    border-radius: 20px;
  }

  .box img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }

  .box .content{
    position: absolute;
    width: 100%;
    height: 25%;
    bottom: 0;
    border-radius: 0 0 20px 20px;
  }

  .box .content::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: rgb(185, 185, 185, .1);
    backdrop-filter: blur(5px);
    border-radius: 0 0 20px 20px;
  }

  .now-playing-box{
    width: 94.5%;
    height: 290px;
    background: linear-gradient(to right, rgba(159,79,107,100), rgba(182,77,94,100));
    padding: 0.5rem 1rem;
    border-radius: 5 px;
    margin: 2rem 0 0 0.5rem;
    opacity: 0.8;
  }

  .now-box{
    width: 25%;
    height: 170px;
    border: 1px solid var(--header-color);
    padding: 0.5rem 1rem;;
    border-radius: 10px;
    margin: -15rem -4rem 0 5.5rem;
    z-index: 1;
  }

  header > .box{
    margin-top: -29rem;
    margin-bottom: 30.5rem;
  }

