@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;

}

#signin {
    --button-width: 280px;
    --button-img: 100px;
    --textbox-width: 100rem;
    --button: 20rem;
    position: fixed;
}

.logo-signin img{
    height: 70px;
    width: 70px;   
    margin: -10rem 0 0 10rem;
}

.form_signin{
    margin: -27rem 0 0 53rem;  
    
}

#signin-header{
    margin: 0.2rem 0 0 77rem;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--color-bg-variant);
}

.form_signin:before{
    content:" ";
    display: block;
    height: 36rem;
    width: 27rem;
    position: absolute;
    top: 8%;
    left: 71%;
    background: var(--header-background);
    z-index: -1;
    opacity: 1;
}

.logo-signin > .signin-image{
    color: var(--color-bg-variant);
    margin: 6rem 0 0 64rem;
    font-size: 1.4rem;
}

.right-signin-pane > .sign-up-link{
    font-weight: 500;
    text-decoration: none;
    color: var(--color-dark);
    z-index: 1;
}

.right-signin-pane{
    margin: -11rem 0 0 81rem;
}

.sign-up-link > em{
    margin-top: 0;
    font-weight: 700;
}

em:hover{
    text-decoration: none;
}

.signin-label{
    color: var(--color-dark);
    margin-left: 5.5rem;
    font-weight: 400;
}

.user-label > .email_image{
    margin-top: -1.7rem;
    margin-left: 6.4rem;
    color: var(--color-dark);
}

.user-label > .password_image{
    margin-top: -1.8rem;
    margin-left: 0.9rem;
    color: var(--color-dark);
    z-index: 1;
}

.user-label > .signin-label{
    margin-top: 1rem;
    font-weight: 500;
    font-size: 16px;
}

.user-input {   
    border-radius: 40px;
    width: var(--button);
    height: 2.5rem;
    text-indent: 12%;
    background: var(--header-color);
    z-index: 1;
}

#user-textbox > .user-input{
    display: flex;    
    margin: 1rem 0 0 5.5rem;

}

#password-textbox{  
    display: flex;
    flex-direction: column;
    margin-top: 11.5rem;
    margin-left: 5.5rem;    
}

#password-textbox > .user-input{
    margin-top: 0.5rem;
    z-index: -1;
}

#password-textbox > .password-label{
    margin-top: -9rem;
}

.eye{
    z-index: 1;
    margin-top: -1rem;
    margin-left: 4rem;
    color: var(--color-dark);
    font-size: 1.1rem;
    background: transparent;
}

#pwd_eye {
    margin-left: 17.8rem;
    margin-top: -1rem;
    color: var(--color-dark);
}

#remember{
    font-size: 1rem;
    font-weight: 500;
    margin-top: -7.5rem;
    margin-left: 7rem;
    color: var(--color-dark);
    z-index: 1;
}

.bottom{
    margin-top: 4.5rem;
}

#bottom-links-checkbox{
    margin-top: -1.4rem; 
    margin-left: 6rem;
}

.bottom-links{
    margin-top: -1.9rem;
    margin-left: 11rem;
    font-weight: 500;
}

.bottom-links > .forgotten{
    text-decoration: none;
    font-size: 1rem;
    color: var(--color-bg-variant);
    margin-left: 5rem;
}

em{
    text-decoration: none;
}

#login-images{
    width: 100%;
    height: 100%;
    margin-top: 25rem;
}

.signin-left-column{
    margin-left: 10rem;
    margin-top: 5rem;
}

.signin-left-column .signin-content{
    position: absolute;
    bottom: -2rem;
    background: var(--color-dark, 0.5); 
    width: 55.7%;
    padding: 20px;
    color: var(--header-color);
  }

  .signin-left-column > .left-column-img{
    height: 100%;
    width: 57.5%;
    margin: -23rem 0 0 -1.5rem;
  }

  .signin-content h1{
    font-size: 1.5rem;
    font-weight: 600;
  }

  .signin-content p{
    font-size: 1.2rem;
    font-weight: 400;
  }

  .button-signin {
    cursor: pointer;
    color: #fff;
    background: linear-gradient(to right, rgba(159,79,107,100), rgba(182,77,94,100));
    border: 0;
    font-weight: 400;
    text-align: center;
    border-radius: 30px;
    width: 19.5rem;
    height: 2.8rem;
    transition: outline 200ms;
    margin-top: 6rem;
    margin-left: 5.5rem;
  }

  #error{
    color: #ff6774;
    margin-left: 6rem;
    margin-top: 0.5rem;
    margin-bottom: -2rem;
    font-size: 0.7rem;   
  }

  #new{
    margin-top: 1.2rem;
    margin-left: 0.5rem;
    z-index: 1;
  }

 