@import url('https://fonts.googleapis.com/css2?famil=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

#signin {
    --button-width: 280px;
    --button-img: 100px;
    --textbox-width: 100rem;

    display: flex;
    flex-flow: row wrap;
    margin-top: 0px;
    margin-left: 50rem;
    height: 100vh;
    color: var(--header-color);
}

.logo-signin img{
    margin-left: -45rem;
    height: 70px;
    width: 70px;
}

.logo-signin h3{  
    font-size: 23px;
    font-weight: 600;
}

#top_header{
    margin-left: -2.8rem;
    margin-top: 0.5rem;
    font-size: 1.3rem;
    color: var(--color-bg-variant);
}

.form_signin{
    margin-top: 11rem;
}

.left-pane-signin{
    justify-content: start;
}

.right-pane-signin{
    justify-content: flex-end;
    margin-top: 1.5rem;
}

.right-pane-signin > .sign-up-link{   
    margin-left: 30rem;
    text-decoration: none;
    color: var(--header-color);
}

em:hover{
    color: var(--color-bg-variant);
    text-decoration: none;
}

.form_signin:before{
    content:" ";
    display: block;
    height: 320px;
    width: 22rem;
    position: absolute;
    top: 18%;
    left: 39.5%;
    background: var(--header-color);
    z-index: -1;
    border-radius: 0 0 3rem 3rem;
    opacity: 1;
}

.form_signin:after{
    content:" ";
    display: block;
    height: 108px;
    width: 22rem;
    position: absolute;
    top: 2.9%;
    left: 39.5%;
    background: var(--header-color);
    z-index: -1;
    border-radius: 3rem 3rem 0 0;
    opacity: 0.8;
}

#middle-img{
    margin-left: -3.3rem;
    margin-top: 2rem;
    font-size: 24px;
    color: var(--color-bg-variant);
}

.middle-pane-btn{
    background: var(--header-color);
    border-radius: 100px;
    max-width: var(--button-img);
    height: 6vh;
    width: 5.5%;
}

#middle-img > .middle-pane-signin{
    margin-left: 0.5rem;
    margin-top: 0.6rem;
}

.user-label > .signin-label{
    margin-top: -10rem;
    margin-bottom: -4rem;
    margin-left: -10rem;
    font-size: 17px;
    color: var(--color-dark);
}

.user-label > .email_image{
    margin-top: -10.6rem;
    margin-left: -17rem;
    color: var(--color-dark);
}

.user-label > .password_image{
    margin-top: -10.6rem;
    margin-left: -17rem;
    color: var(--color-dark);
}

.user-input{
    margin-left: -4.5rem;
    margin-top: -12.5rem;
    height: 10%;
    border-radius: 5px;
    width: 17.5rem;
    height: 2.5rem;
    text-indent: 12%;
    background: var(--header-color);
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#user-textbox > .user-input {
    margin-left: -12.5rem;
}

.eye{
    margin-top: -12rem;
    margin-left: 5.9rem;
    color: var(--color-dark);
    background: transparent;
}

#remember{
    font-size: 0.85rem;
    margin-top: -9.5rem;
    margin-left: -9rem;
    color: var(--color-dark);
}

#bottom-links-checkbox{
    margin-top: -1.5rem; 
    margin-left: -10rem;
}

.bottom-links{
    margin-top: -1.6rem;
    margin-left: -1rem;
}

.bottom-links > .forgotten{
    text-decoration: none;
    font-size: 0.9rem;
    color: var(--color-dark);
}

.signin-btn > .signin-btn-text{
    text-decoration: none;
    margin-left: -3.5rem;
    font-size: 1rem;
    color: var(--header-color);
    font-weight: 500;
}

.signin_btn{
    background-color: var(--color-bg-variant);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    width: var(--button-width);
    transition: outline 200ms;
    margin-top: 0.5rem;
    margin-left: -10rem;
}

#signin-submit-btn > .signin-btn-text{
    margin-left: 6.5rem;
    font-weight: 700;
    color: var(--header-color); 
    text-decoration: none;  
}

#signin-submit-btn{
    margin-top: 4rem;
}

#signin-submit-btn:hover{
    outline: 1px solid var(--header-color);
}

#copyright{
    font-size: 14px;
    margin-top: 32rem;
    margin-left: -14.3rem;
}

.line{
    color: var(--header-color);
}

.line:before{
    content:" ";
    display: block;
    height: 1px;
    width: 96rem;
    position: absolute;
    top: 90%;
    left: 0;
    background: var(--header-color);
}

em{
    text-decoration: none;
}

