/*=============background=============*/
.sign_container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    place-items: center;
}

.signin_options {
    display: flex;
    background: var(--color-bg-variant);
    transition: var(--transition);
    padding: 1.2rem;
    border: 0.6px solid transparent;
    align-items: center;
    border-radius: 0.5rem;
    width: 30%;
    margin-left: 35rem;
    margin-top: 0.5rem;
    height: 60vh;
    place-items: center;
}

.logo_signin img {
    display: flex;
    width: 5.5rem;
    margin-left: 1.8rem;
    margin-top: 0.5rem;
    align-items: center;
}

/*=============button=============*/
.submit {
    display: inline-block;
    background: #c06767;
    transition: var(--transition);
    border-radius: 0.6rem;
    width: 90%;
    height: 8vh;
    margin-left: 2.4rem;
    margin-top: 6.9rem;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
}

.submit:hover {
    background: var(--color-secondary);
}

/*=============form=============*/
.form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-content: center;
}

.sign_container form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

input,
textarea {
    display: flex;
    padding: 1.5rem;
    width: 90%;
    height: 0.1vh;
    background: var(--header-color);
    border-radius: 0.4rem;
    border: 1.5px solid var(--header-color);
    resize: none;
    color: var(--color-white);
    margin-left: 2.5rem;
    align-items: center;
    margin-top: 0.4rem;
    padding: 1.3rem;
}

label {
    color: var(--header-color);
    margin-left: 2.5rem;
    font-size: 15px;
    margin-top: 2rem;
}

.user_name {
    margin-left: -35.5rem;
    margin-top: -0.5rem;
}

.user_input {
    width: 35.5%;
    margin-left: 38rem;
}

.signin_password {
    margin-left: -35.5rem;
}

.pass_input {
    width: 35.5%;
    margin-left: 38rem;
}

.user_email {
    padding: 1.2rem 1rem;
}

.eye {
    padding: 0.5rem;
    outline: none;
    margin-top: -3rem;
    margin-left: 21.5rem;
    background: transparent;
    font-size: 1.2rem;
    cursor: pointer;
    opacity: 0.2;
}

.password_image {
    padding: 0.5rem;
    outline: none;
    margin-top: -2.3rem;
    margin-left: -21.2rem;
    background: transparent;
    font-size: 2rem;
    opacity: 0.2;
}

.email_image {
    display: flex;
    margin-top: -7.2rem;
    margin-left: 3rem;
    opacity: 0.2;
}


/*=============links=============*/
.remember_me {
    font-size: 13px;
    color: var(--header-color);
    margin-left: 3.8rem;
    margin-top: 3.5rem;
}

.forgotten_link {
    display: flex;
    color: var(--color-secondary);
    font-weight: 500;
    margin-left: 15rem;
    font-size: 13px;
    margin-top: -1rem;
}

.links_text{
    margin-top: -3.5rem;
}

.forgotten_sp_link {
    color: var(--color-secondary);
    font-weight: 500;
}


.new_user {
    font-size: 14px;
    color: var(--header-color);
    margin-left: 2.8rem;
    margin-top: 2rem;
    font-weight: 300;
}

.checkbox {
    display: flex;
    width: 10%;
    height: 10%;
    margin-left: 1.8rem;
    margin-top: -1.3rem;
}

.privacy_text {
    font-size: 12px;
    color: var(--header-color);
    margin-left: -0.5rem;
    margin-top: 27rem;
}

.help_text {
    font-size: 12px;
    color: var(--header-color);
    margin-left: -5.5rem;
    margin-top: 27rem;
}

.language {
    font-size: 12px;
    color: var(--header-color);
    margin-left: -22.5rem;
    margin-top: 27rem;
}

.arrow {
    width: 8%;
    margin-top: 27rem;
    margin-left: -0.5rem;
}

@media screen and (max-width:1024px) {
    .sign_container {
        align-items: center;
    }

    .signin_options {
        margin-left: 9rem;
        width: 65%;

    }

    .logo_signin {
        margin-top: -8rem;
        margin-left: -3rem;
    }

    .privacy_text {
        margin-left: 5rem;
    }

}

@media screen and (max-width:600px) {
    .signin_options {
        background: transparent;
        margin-left: 11rem;
    }

    .signup_label {
        margin-left: 10rem;
        margin-top: -10rem;
    }

    .user_name {
        margin-top: -0.5rem;
        margin-left: -16rem;
        font-size: 11.5px;
        font-weight: 500;
    }

    .user_input {
        margin-top: 0.5rem;
        margin-left: 9.5rem;
        width: 17rem;
        border-radius: 45rem;
        padding: 1.1rem;
    }

    .signin_password {
        margin-left: -16rem;
        font-size: 11px;
        font-weight: 500;
    }

    .pass_input {
        margin-top: 0.3rem;
        margin-left: 9.5rem;
        width: 17rem;
        border-radius: 45rem;
        padding: 1.1rem;
    }

    .logo_signin img {
        width: 5rem;
        margin-left: 5rem;
        margin-top: 0.1rem;
        display: flex;
        place-content: center;
        align-items: center;
    }

    .submit {
        display: flex;
        margin-top: 20rem;
        margin-left: -6.5rem;
        width: 17rem;
        border-radius: 45rem;
        font-weight: 600;
        place-content: center;
    }


    .forgotten2 {
        display: flex;
        font-size: 10px;
        margin-top: 5rem;
        margin-left: 10rem;
    }

    .password_image {
        margin-left: -16.8rem;
        margin-top: -2.3rem;
    }

    .email_image {
        margin-left: -30rem;
        margin-top: -7.2rem;
    }

    .eye {
        margin-left: -16rem;
    }

    .user_email {
        margin-top: -15rem;
    }

    .checkbox {
        margin-left: -4rem;
        margin-top: -1.3rem;
        width: 50%;
    }

    .remember_me {
        margin-left: -0.5rem;
        margin-top: -22.2rem;
    }

    .forgotten_link {
        display: flex;
        margin-top: 0.5rem;
        margin-left: -2.5rem;
        font-size: 14px;
        font-weight: 400;
    }

    .links_text {
        margin-top: 5rem;

    }

    .new_user{
        margin-left: -3rem;
        margin-top: 14rem;
    }

    .privacy_text{
        margin-top: 32rem;
        margin-left: -1rem;
    }

    .help_text{
        margin-top: 32rem;
        margin-left: -7rem;
    }

    .language{
        margin-top: 32rem;
        margin-left: -17rem;
    }

    .arrow{
        margin-top: 32rem;
        margin-left: -0.1rem;
    }

}