.nav_container{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    place-items: center;
}

.navbar{
    display: flex;
    font-size: 13px;
    margin-left: 40rem;
    margin-top: -4rem;
    gap: 2rem;
    align-items: center;
}

.nav_logo{
    display: flex;
    width: 5rem; 
    margin-left: -72rem;
    margin-top: -26.5rem;
}

