@import url('https://fonts.googleapis.com/css2?famil=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

#footer {
    --button-width: 280px;
    --button-img: 100px;
    --textbox-width: 100rem;

    display: flex;
    flex-flow: row wrap;
    margin-top: 23rem;
    height: 45vh;
    color: var(--header-color);
    background: var(--color-bg-variant);
    width: 100%;
}

.footer_logo img{
    margin-top: 7rem;
    margin-left: 15rem;
    height: 80px;
    width: 80px;
}

#footer-copyright{
    font-size: 0.9rem;
    margin-left: 45rem;
    margin-top: 6.2rem;
    font-weight: 600;
}

.footer-socials {
    display: flex;
    gap: 0.1rem;
    margin-left: 72.5rem;
    margin-top: -1.5rem;
    font-size: 1.5rem;
}

#socials > .permalinks{
    display: flex;
    flex-direction: row;    
    margin-left: -3.5rem;
    margin-top: -3rem;
}

em{
    font-weight: 400;
}

#socials a{
    color: var(--header-color);
}

.subscribe-box input{
    border-radius: 70rem;
    height: 6vh;
    width: 20%;
    background: var(--header-color);
    text-indent: 1rem;
    margin-left: 65rem;
    margin-top: -8rem;
} 

.subscribe-box  .send-subscribe{
    margin-top: -1rem;
    margin-left: -2rem;
    color: var(--color-dark);
}

#send-subscribe{
    color: var(--color-dark);
    margin-left: 82rem;
    margin-top: -7rem;
}

.footer-permalinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.2rem;
    margin-left: 25rem;
    margin-top: -5rem;
}

#footer-menu{
    text-decoration: none;
    color: var(--header-color);
}








