.footer_container{
    margin-top: 100rem;
    background-image: linear-gradient(to right bottom, rgba(159, 79, 107, 100), rgba(182, 77, 94, 100), rgba(182, 77, 94, 100),
    rgba(182, 77, 50, 90), rgba(182, 77, 50, 70), rgba(182, 77, 50, 30));
    width: 100%;
    height: 45vh;
}

footer{
    background: var(--color-primary);
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 15rem;
    height: 70vh;
}

footer a {
    color: var(--color-bg);
}

.footer_logo{
    display: inline-block;
    margin-bottom: 1.7rem;    
}

.permalinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer_socials{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.footer_socials a{ 
    background: var(--color-bg);  
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem; 
    display: flex;
    border: 1px solid transparent;
}

.footer_socials a:hover{
    background: transparent;
    border-color: var(--color-bg);
    color: var(--color-bg);
}

.footer_copyright{
    margin-bottom: -12rem;
    color: var(--color-bg);
}

/*==================== MEDIA QUERY (SMALL DEVICES)================*/
@media screen and (max-width:600px){
    .permalinks{
        flex-direction: column;
        gap: 1.5rem;
    }
  }