@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

#signup {
    --button-width: 280px;
    --button-img: 100px;
    --textbox-width: 100rem;
    --button:20rem;
    
}

.logo-signup img{
    height: 70px;
    width: 70px;   
    margin: -3.7rem 0 0 10rem;
}

#header{
    margin: 5rem 0 0 74rem;
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--color-bg-variant);
    border: 0;
}

.signup-form:before{
    content:" ";
    display: block;
    height: 37rem;
    width: 27rem;
    position: absolute;
    top: 13%;
    left: 62%;
    background: var(--header-background);
    z-index: -1;
    opacity: 1;
    margin-bottom: -20rem;
}

.signup-form{
    margin: -30rem 0 0 8.5rem;  
}

.user-signup-label{
    color: var(--color-dark);
    margin-left: 61.5rem;
    margin-top: 1rem;
}

.signup-label > .user-signup-label {
    margin-top: 1rem;
}

#password-textbox > .user-signup-label{
    margin-top: -9.5rem;
    margin-left: 56rem;
}

#confirm-password-textbox > .user-signup-label{
    margin-left: 61.5rem;
    margin-top: -3.5rem;
}

.signup-input{     
    margin-left: 61rem;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
    height: 10%;
    border-radius: 30px;
    text-indent: 5%;
    width: var(--button);
    height: 2.5rem;
    background: var(--header-color);
}

#password-textbox > .signup-input{
    width: 20rem;
    margin-left: 55.5rem;
    margin-top: 0.2rem;
    border-radius: 30px;
}

#confirm-password-textbox > .signup-input{
    margin-left: 61rem;
    margin-top: -1.7rem;
    margin-bottom: -10rem;
    border-radius: 30px;
    width: 20rem;
}

.signup-link{
    margin: -10rem 0 0 88rem;
    font-size: 1.2rem;
}

.signup-btn-link{
    text-decoration: none;
    color: var(--color-bg-variant);
    font-weight: 700;    
}

.signup-btn-link:hover{
    color: var(--color-dark);
}

#signup-submit-btn:hover{
    outline: 1px solid var(--header-color);
}

 em:hover{
    color: var(--color-secondary);
}

.column > .left-side-image{
    height: 100%;
    width: 100%;
    margin: -3.8rem 0 0 0;
}

.column{
    width: 50%;
    margin-left: 10rem;
    margin-top: 6.8rem;
}

.column .content{
    position: absolute;
    bottom: 6.2rem;
    background: var(--color-bg-variant);
    background: var(--color-dark, 0.5); 
    width: 50%;
    padding: 20px;
    color: var(--header-color);
    font-family: Poppins;   
  }

  .content h1{
    font-size: 1.5rem;
    font-weight: 600;
  }

  .content p{
    font-size: 1.2rem;
    font-weight: 400;
  }

  .button {
    cursor: pointer;
    color: #fff;
    background: linear-gradient(to right, rgba(159,79,107,100), rgba(182,77,94,100));
    border: 0;
    font-weight: 400;
    text-align: center;
    border-radius: 30px;
    width: 19.5rem;
    height: 2.8rem;
    transition: outline 200ms;
    margin-top: 10rem;
    margin-left: 61.5rem;
  }

  error{
    display: flex;
    font-size: 10px;
    color: #ff6774;
    margin-left: 61.5rem;
    margin-top: -0.2rem;
    margin-bottom: -1rem;
    font-size: 0.7rem;   
  }

  #confirm{
    margin-top: 1.4rem;
    margin-bottom: -5.5rem;
  }

  #choose{
    margin-top: -0.3rem;
    margin-left: 56rem;
  }

  #pwdEye{
    color: var(--color-dark);
    margin-left: 73.5rem;
    margin-top: -2.5rem;
    background: none;
  }


