@import url('https://fonts.googleapis.com/css2?famil=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

#signup {
    --button-width: 280px;
    --button-img: 100px;
    --textbox-width: 100rem;

    display: flex;
    flex-flow: row wrap;
    margin-top: 0px;
    margin-left: 50rem;
    height: 100vh;
    color: var(--header-color);
}

.logo-signup img{
    margin-left: -45rem;
    height: 70px;
    width: 70px;
}

#header{
    margin-left: 25rem;
    margin-top: 4rem;
    font-weight: 600;
    font-size: 1.3rem;
    color: var(--color-bg-variant);
}

.signup-form:before{
    content:" ";
    display: block;
    height: 340px;
    width: 22rem;
    position: absolute;
    top: 20%;
    left: 39.5%;
    background: var(--header-color);
    z-index: -1;
    border-radius: 0 0 3rem 3rem;
    opacity: 1;
}

.signup-form:after{
    content:" ";
    display: block;
    height: 108px;
    width: 22rem;
    position: absolute;
    top: 4%;
    left: 39.5%;
    background: var(--header-color);
    z-index: -1;
    border-radius: 3rem 3rem 0 0;
    opacity: 0.8;
}

.left-pane-signup > .logo-signup{
    display: flex;
    justify-content: flex-start;
    margin-left: 10rem;
}

.signup-label > .user-signup-label{
    margin-left: -22rem;
    margin-top: 1.5rem;
    color: var(--color-dark);
    font-weight: 500;
}

.user-signup-label{
    margin-top: -5rem;
}

 #signup-textbox{
    margin-top: 5rem;
}

.signup-input{
    margin-top: 2rem;    
    height: 10%;
    border-radius: 5px;
    text-indent: 5%;
    width: 17.5rem;
    height: 2.5rem;
    background: var(--header-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.user-signup-label > #signup-textbox{
  
  margin-top: 10rem;
}

.signup-form{
    margin-top: -3.5rem;
    margin-left: -38rem;
}

.signup-label > .user-signup-label{
    margin-top: -15rem;
    margin-bottom: -4rem;
    margin-left: -10rem;
    font-size: 17px;
    color: var(--color-dark);
}

#signup-textbox > .signup-input{
    margin-left: -12.5rem;
    margin-top: 3rem;
}

.signup-input{
    margin-top: 2rem;
    margin-left: -4.5rem;
    height: 10%;
    border-radius: 5px;
    text-indent: 5%;
    width: 17.5rem;
    height: 2.5rem;
    background: var(--header-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#signup-submit-btn > .signup-btn-text{
    margin-left: 6.5rem;
    font-weight: 700;
    color: var(--header-color); 
    text-decoration: none;  
}

#signup-submit-btn{
    margin-top: 2rem;
}

.signup-btn{
    background-color: var(--color-bg-variant);
    padding: 0.5rem 1rem;
    border-radius: 8px;
    width: var(--button-width);
    transition: outline 200ms;
    margin-top: 0.5rem;
    margin-left: -10rem;
}

#confirm-password > .signup-input{
    margin-left: -8.5rem;
    margin-top: 2rem;
}

.right-pane-signup > .signup-btn-link{
    margin-left: 35rem;
    text-decoration: none;
    color: var(--header-color);
}

.right-pane-signup{
    margin-top: 5rem;
}

label{
    margin-bottom: 5rem;
    margin-left: 5rem;
}

.signup-btn-link:hover{
    color: var(--color-bg-variant);
    text-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#signup-submit-btn:hover{
    outline: 1px solid var(--header-color);
}

