@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root{
  --color-bg: #FFFFFF;
  --color-bg-variant: #7c334e;
  --color-secondary: #F69090;
  --header-color: #D9D9D9;
  --color-text: #212121;
  --color-dark: #7B7272;
  --color-hover: #9C4D6A;

  --transition: all 400ems ease ;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{
  display: none;
}


.navigation{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body{
  background: linear-gradient(to right, rgba(159,79,107,100), rgba(182,77,94,100));
  line-height: 1.7rem;
  font-family: "Poppins", sans-serif;
  
}

/*==================GENERAL STYLES/*==================*/
.container{
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1,

h3,
h4,
h5{
  font-weight: 500;
  text-decoration: none;
}

h1{
  font-size: 3rem;
}

section{
  margin-top: 4rem;
  height: 75vh;
}

section > h2,
section > h5{
  text-align: left;
  color: var(--header-color)
}

section > h2 {
  color: var(--color-text);
  margin-bottom: 2.5rem;
}

.text-light{
  color: var(--color-bg);
}

a{
  color: var(--header-color);
  text-decoration: none;
}

a:hover{
  color: var(--header-color);
}

.btn{
  display: inline-block;
  transition: var(--transition);
  border-radius: 0.6rem;
  width: 60vh;
  height: 8vh;
  margin-left: 1.8rem;
  margin-top: 1rem; 
  align-items: center;
  text-decoration: none;
}

.btn-primary{
  background: var(--header-color);
  color: var(--color-bg);
}

.btn-primary2{
  color: var(--color-secondary);
}





/*============ MEDIA QUERY (MEDIUM DEVICES)============*/
@media screen and (max-width:1024px){
  .container{
    width: var(--container-width-md);
  }

  section{
    margin-top: 10rem;
  }
}

/*============ MEDIA QUERY (SMALL DEVICES)============*/
@media screen and (max-width:600px){
  .container{
    width: var(--container-width-sm);
  }

  section > h2 {
    margin-bottom: 2rem;
  }
}