@import url('https://fonts.googleapis.com/css2?famil=Poppins:wght@300;400;500;600;700;800;900&display=swap');

*,
*::before, 
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#nav {
    --button-width: 280px;
    --button-img: 100px;
    --textbox-width: 100rem;
    --clr-primary: #f06292;
    --clr-primary-hover: #fce4ec;
    --clr-primary-dark: #ec407a;
    --clr-gray100: #f9fbff;
    --clr-gray150: #f4f6fb;
    --clr-gray200: #eef1f6;
    --clr-gray300: #e1e5ee;
    --clr-gray400: #767b91;
    --clr-gray500: #4f546c;
    --clr-gray600: #2a324b;
    --clr-gray700: #161d34;
    --radius:0.2rem;

    display: flex;
    flex-flow: row wrap;
    margin-top: -4rem;
    height: 11vh;
    color: var(--header-color);
    background: var(--color-bg-variant);
    width: 100%;
}

.nav{
  position: fixed;
  width: 100vw;
  box-shadow: 0 0 10px var(--clr-gray300);
}

#nav-menu{
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 2rem;
  margin: 0 2rem;
}

#nav-menu > .nav-list {
  list-style: none;
  font-weight: bold;
  position: relative;
  padding: 1.5rem 1rem;
  cursor: pointer;
}

.nav-list:hover,
.nav-list:focus{
  color: var(--clr-primary);
}

.nav-item-drop{
  list-style: none;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  padding: 1.5rem 1rem;
}

.nav-list > .nav-item-drop{
  position: absolute;
  top: 4rem;
  left: -1rem;
  box-shadow: 0 0 10px var(--clr-gray400);
  background-color: var(--header-color);
  border-radius: var(--radius);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

li{
  list-style: none;
  padding: 0.5rem 1rem;
  border-radius: var(--radius);
  transition: background-color 200ms ease-in-out;
}

.nav-logo img{
    margin-left: 15rem;
    height: 70px;
    width: 70px;
    transition: fill 250ms  ease-in;
}

.nav-right > #nav-link {
    color: var(--header-color);
}

#navigation{
    text-decoration: transparent;
    font-weight: 600;
    margin-left: 27rem;
    margin-top: -3rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.avatar{
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end; 
    margin-top: -1.5rem;
    
}

.avatar > #avatar-shape{
  display: flex; 
  justify-content: flex-end; 
  font-size: 1.3rem;
}


  

