@import url('https://fonts.googleapis.com/css2?famil=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
}

#nav {
    --button-width: 280px;
    --button-img: 100px;
    --textbox-width: 100rem;

    display: flex;
    flex-flow: row wrap;
    margin-top: -4rem;
    height: 11vh;
    color: var(--header-color);
    background: var(--color-bg-variant);
    width: 100%;
}

.nav-logo img{
    margin-left: 15rem;
    height: 70px;
    width: 70px;
}

.nav-right > #nav-link {
    color: var(--header-color);
}

#navigation{
    text-decoration: transparent;
    font-weight: 600;
    margin-left: 27rem;
    margin-top: -3rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.avatar{
    display: flex;
    gap: 0.9rem;
    margin-top: -1.5rem;
    margin-left: 42rem;
}

#avatar-shape{
    font-size: 1.3rem;
}

.dropbtn {
    display: inline-block;
   
    background: transparent;
    color: var(--header-color);
    font-weight: 600;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    width: 20%;
    height: 2.5rem;
    margin-top: 0.1rem;
    background-color: var(--header-color);
    color: var(--color-dark);
    text-indent: 0.7rem;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: -2.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-size: 15px;
  }
  
  .dropdown-content a {
    color: var(--color-dark);
    text-decoration: none;
    display: block;
    margin-top: 3rem;
  }
  
  .dropdown-content:hover {
    color: var(--color-text);
  }
  
  .dropdown:hover  .dropdown-content {
    display: block;
  }

  
  .dropdown:hover > .dropbtn {
     background-color: transparent;
    }

